@import './reset.scss';
@import './variables.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

* {
  font-family: 'Aleo', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: inline-block;
  width: 100%;
}

p {
  color: $dark;
  font-size: 1.2rem;
  text-align: center;
}

dev.app-container {
  max-width: 1200px;
}
