@import './reset.scss';
@import './variables.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: inline-block;
  width: 100%;
}

a,
div,
span,
p {
  color: $dark;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

*.max-width-container {
  max-width: 1980px;
  min-width: 1280px;
  margin: 0 auto;
}

*.section-container {
  width: 1280px;
  margin: 0 auto;
  display: block;
}
