@import '../../styles/variables.scss';

div.pageInner {
  padding: 4rem;
}

div.messageWrap {
  background-color: $offwhite;
  padding: 4rem;
  border-radius: $border-radius;

  > h3 {
    margin: 0.5rem 0 1rem 0;
  }
}
