header.header {
  height: 100px;
  position: relative;
  text-align: center;
}

img.logo {
  height: 200%;
  width: initial;
}

div.headerLinksWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.headerInnerRight {
  font-size: 2rem;

  > svg {
    margin-right: 1rem;
  }
}
