@import '../../styles/variables.scss';
@import '../../styles/media-queries.scss';

div.checkoutPageInner {
  background-color: $offwhite;
  background-color: #fff;
  display: grid;
  justify-content: stretch;
  min-height: $body-min-height;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  transition: all 0.2s ease;
  margin-bottom: 4rem;

  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 45%;
  }
}

div.paymentSection {
  flex: 1.75;
}

div.orderSection {
  flex: 1;
}

div.checkoutSection {
  position: relative;
}

div.paymentSection,
div.orderSection {
  background-color: $offwhite;
  border-radius: $border-radius;

  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 45%;
  }
}

div.paymentSection {
  order: 2;
  @include for-tablet-landscape-up {
    order: 0;
  }
}

div.orderSection {
  order: 1;
}

div.checkoutSectionInner {
  padding: 2rem;
  height: 100%;
  position: relative;
  z-index: 1;
  > h4 {
    margin-bottom: 2rem;
  }
  @include for-phone-only {
    padding: 2rem;
  }
}

div.pickupLocationWrap {
  padding: 2rem;
  margin-top: 2rem;
  grid-column: 1 / -1;
  border-radius: $border-radius;
  background-color: $offwhite;
  position: relative;
  display: flex;
  svg {
    transform: translateY(3px);
  }
}

div.pickupLocationWrapInner {
  margin-left: 0.5rem;
  > h6 {
    margin-bottom: 0.5rem;
  }
}

div.upcomingEventsWrap {
  flex: 1;
  background-color: $offwhite;
  box-shadow: $box-shadow;
  max-width: 600px;
  margin: 0 auto;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  position: relative;
  @include for-phone-only {
    max-height: none;
    height: 100%;
  }
}

div.overlayBody {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

div.overlayFooter {
  flex: 1;
  max-height: 114px;
  padding: 1rem;
  background-color: $offwhite;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

div.upcomingEventWrap {
  transform: scale(1);
  transition: all 0.2s ease;
  cursor: pointer;
  border: 3px solid rgba($yellow, 0);
  margin-bottom: 0.5rem;
  &.isSelected {
    border: 3px solid $yellow;
  }
}
