div.checkoutFormWrap {
  display: block;
}

p.inputErrorText {
  font-size: 14px;
  position: relative;
  > svg {
    display: inline-block;
    margin-right: 8px;
  }
}

div.tipBoxWrap {
  margin-bottom: 1rem;
}

label.label {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.25rem;
}
