@import '../../styles/variables.scss';

header.header {
  text-align: center;
  position: relative;
  z-index: 100;
  padding: 0 4rem;
}

div.headerInner {
  height: 100px;
  position: relative;
}

div.headerLogoWrap {
  height: 200%;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}

div.headerLogoWrap.headerLogo-lg {
  height: 200%;
}

div.headerLogoWrap.headerLogo-sm {
  height: 100%;
}

a.headerLogoLink {
  display: inline-block;
  height: 100%;
  position: relative;
  z-index: 1;
}

img.logo {
  height: 100%;
  width: initial;
}

div.headerLinksWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.headerSidesWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.headerLeft > div.headerLg,
div.headerRight {
  display: flex;
  align-items: center;
  > a,
  > button {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: $dark;
  }
}

div.headerSm {
  display: none;
  align-items: center;
  font-size: 1.5rem;
}

button.cartBtn {
  position: relative;
  margin-right: 0 !important;

  > span {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: $offwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    top: 0;
    right: 0;
    box-shadow: $box-shadow;
    transform: translate(50%, -50%);
  }
}

@media only screen and (max-width: 780px) {
  div.headerLg {
    display: none !important;
  }
  div.headerSm {
    display: flex !important;
  }
}
