@import '../../styles/variables.scss';

footer.footer {
  background-color: $yellow;
}

div.footerInner {
  height: 200px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

div.footerInfoWrap {
  text-align: center;
}

div.footerLogoWrap {
  height: 100%;

  > img {
    height: 100%;
    width: auto;
  }
}

div.copyrightWrap {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  padding: 1rem;
  font-size: 0.75rem;
  > span {
    display: block;
  }
  > span,
  > span > a {
    font-size: 1rem;
  }
}

div.followTextWrap {
  padding: 1rem 0;
  position: absolute;
  right: 0;
  top: 0rem;
  margin-right: 1rem;
}

a.followText {
  font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: $border-radius;
  background-color: $offwhite;
  border: 2px solid $dark;
}

span.instagramIconWrap {
  font-size: 1.75rem;
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767.98px) {
  a.followText {
    font-size: 1rem;
    padding: 0.15rem 0.25rem;
  }

  div.followTextWrap {
    top: -0.5rem;
    margin-right: 0.5rem;
  }

  div.copyrightWrap {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    > span,
    > span > a {
      font-size: 0.75rem;
    }
  }
}
