@import '../../styles/variables.scss';

footer.footer {
  background-color: $yellow;
}

div.footerInner {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.footerInfoWrap {
  text-align: center;
}

div.footerLogoWrap {
  height: 100%;

  > img {
    height: 100%;
    width: auto;
  }
}
