@import '../../styles/variables.scss';
@import '../../styles/media-queries.scss';

div.cartItemWrap {
  display: flex;
  border-bottom: 2px solid $offwhite;
  position: relative;

  > button {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: $offwhite;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.5rem;
    right: 0rem;
    color: $red;
  }
}

div.cartItemImgWrap {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.cartItemImgInner {
  background-color: #fff;
  border-radius: $border-radius;
  > img {
    border-radius: $border-radius;
  }
}

div.itemDetailsWrap {
  flex: 1;
  padding: 0 2rem;
}

div.itemDetailWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  @include for-phone-only {
    margin: 0.25rem 0;
  }
}

p.itemName {
  font-weight: bold;
}
