@import '../../styles/variables.scss';
@import '../../styles/media-queries.scss';

div.checkoutItemWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @include for-phone-only {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  > p:first-child {
    font-weight: bold;
  }
}

div.checkoutWrap {
  border: 2px solid $dark;
  border-radius: $border-radius;
  padding: 1rem 2rem;
  margin: 2rem 0;
}
