@import '../../styles/variables.scss';

.landingWrap {
  height: 100vh;
  min-height: 400px;
}

.landingInner {
  margin: 0 auto;
  width: 775px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.orderNowBtnWrap {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.landingLogoWrap {
  width: 35%;
  margin: 0 auto;
}

.landingBgWrap {
  width: 50%;
  margin: 0 auto;
}

.orderingSection {
  border-top: 2px solid $dark;
  padding: 5rem 2rem;
  width: 775px;
  margin: 0 auto;
}

.orderingInner {
  display: grid;
  column-gap: 4em;
  row-gap: 4em;
  grid-template-columns: repeat(2, minmax(175px, 1fr));
  grid-auto-rows: minmax(175px, auto);
}
