@import '../../styles/variables.scss';

.landingWrap {
  height: 100vh;
  min-height: 400px;
  text-align: center;
  padding: 2rem;
}

img.landingLogo {
  width: 300px;
}

h1.landingTitle {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

h3.landingTagline {
  font-size: 2rem;
}
