@import '../../styles/variables.scss';

div.loginWrap {
  padding: 4rem 0;
}

div.loginWrapInner {
  background-color: $offwhite;
  width: 75%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 3px;
}

div.inputWrap {
  margin-bottom: 1rem;
}

div.errorWrap {
  color: $error;
  text-align: center;
  font-size: 14px;
  margin-top: 0.5rem;
}
