@import '../../styles/variables.scss';

.btn {
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 3rem;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  transition: all 0.2s ease;
  box-shadow: $box-shadow;
  color: $dark;

  &:hover,
  &:focus {
    background-color: $dark;
    color: #fff;
  }
}

.btn-md {
  font-size: 1rem;
  padding: 1rem 3rem;
}

.btn-sm {
  font-size: 0.85rem;
  padding: 0.5rem;
}

.btnFullWidth {
  width: 100%;
}
