@import '../../styles/variables.scss';

.loadingSpinner {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 4px solid rgba($yellow, 0.3);
  border-radius: 50%;
  border-top-color: $yellow;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loadingSpinnerSmall {
  width: 40px;
  height: 40px;
  border-width: 3px;
}

.loadingSpinnerXSmall {
  width: 30px;
  height: 30px;
  border-width: 3px;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
