@import '../../styles/variables.scss';

div.templateWrap {
  flex: 1;
  background-color: #fff;
  box-shadow: $box-shadow;
  width: 60%;
  margin: 0 auto;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
}

div.overlayBody {
  flex: 1;
  overflow: auto;
}

div.overlayFooter {
  flex: 1;
  padding: 2rem;
  background-color: $offwhite;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

div.descriptionWrap {
  padding: 1rem 2rem;
  > p {
    margin-top: 0.5rem;
  }
}

div.quantityWrap {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

span.quantity {
  font-size: 2rem;
  display: inline-block;
  margin: 0 1rem;
}

button.quantityBtn {
  box-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid $dark;
  color: $dark;
  transition: all 0.2s ease;
  background-color: none;
  &:hover {
    box-shadow: $box-shadow;
    background-color: $dark;
    color: #fff;
  }
}

div.imgSliderWrap {
  padding: 1rem;
}
