@import './reset.scss';
@import './variables.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: inline-block;
  width: 100%;
}

a,
div,
span,
button,
p {
  color: $dark;
  font-family: 'Square Market', sans-serif;
  font-size: 16px;
}

p {
  line-height: calc(100% + 10px);
}

button {
  background: none;
  border: none;
}

*.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-family: 'Playfair Display';
  font-size: 2rem;
}

h4 {
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: bold;
}

input,
textarea {
  height: 48px;
  display: block;
  width: 100%;
  border-radius: 6px;
  outline: none;
  background-color: #fff;
  margin-bottom: 1rem;
  border: 1px solid #d9d9d9;
  padding: 0.5rem;
  transition: all 0.3s ease;
  font-family: 'Square Market';
  font-size: 16px;

  &:focus {
    box-shadow: 0 1px 3px $yellow, 0 1px 2px $yellow;
  }
}

*.responsive-container {
  padding: 0 4rem;
}

*.max-1280 {
  max-width: 1280px;
  margin: 0 auto;
}

button:not(.app-btn) {
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
