@import './reset.scss';
@import './variables.scss';
@import './media-queries.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: inline-block;
  width: 100%;
}
a,
div,
span,
button,
p {
  color: $dark;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;

  @include for-phone-only {
    font-size: 16px;
  }
}

p {
  line-height: calc(100% + 10px);
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

*.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-family: 'Playfair Display';
  font-size: 32px;

  @include for-phone-only {
    font-size: 27px;
  }
}

h4 {
  font-family: 'Playfair Display';
  font-size: 27px;
  font-weight: bold;
  @include for-phone-only {
    font-size: 22px;
  }
}

input,
textarea {
  height: 48px;
  display: block;
  width: 100%;
  border-radius: $border-radius;
  outline: none;
  background-color: #fff;
  margin-bottom: 1rem;
  border: 2px solid #d9d9d9;
  padding: 0.5rem;
  transition: all 0.3s ease;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;

  &:focus {
    border-color: $yellow;
  }

  &::placeholder {
    font-size: 14px;
  }
}

textarea {
  min-height: 150px;
}

*.responsive-container {
  transition: all 0.2s ease;
  @include for-phone-only {
    padding: 0 1rem;
  }
  @include for-tablet-portrait-up {
    padding: 0 2rem;
  }
  @include for-tablet-landscape-up {
    padding: 0 4rem;
  }
}

*.responsive-container-inner {
  padding: 0 3rem;
  transition: all 0.2s ease;
  @include for-phone-only {
    padding: 0 1rem;
  }
}

*.max-1280 {
  max-width: 1280px;
  margin: 0 auto;
}

button:not(.app-btn) {
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.error-color {
  color: $error;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.inner-border {
  position: absolute;
  border: 3px solid $yellow;
  z-index: 0;
  transition: all 0.2s ease;
  left: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;

  @include for-phone-only {
    left: 0.75rem;
    top: 0.75rem;
    right: 0.75rem;
    bottom: 0.75rem;
  }
}
