@import '../../styles/variables.scss';

div.alertWrap {
  box-shadow: $box-shadow;
  border-radius: 6px;
}

div.alertinfo {
  border: 1px solid $yellow;
  background-color: rgba($yellow, 0.5);
}

div.alertdanger {
  border: 2px solid $error;
  background-color: rgba($error, 0.5);
}

div.alertInner {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;

  svg {
    margin-right: 1rem;
  }

  span,
  svg {
    color: #fff;
    font-size: 1rem;
  }
}
