@import '../../styles/variables.scss';

.btn {
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: $border-radius;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  // padding: 0rem 3rem;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  transition: all 0.2s ease;
  box-shadow: $box-shadow;
  color: $dark;

  &:hover,
  &:focus {
    background-color: $dark;
    color: #fff;
  }
}

.btn-md {
  font-size: 1rem;
  padding: 0rem 3rem;
  height: 50px;
}

.btn-sm {
  font-size: 0.85rem;
  padding: 0 0.5rem;
}

.btnFullWidth {
  width: 100%;
}

@media only screen and (max-width: 767.98px) {
  .btn-md {
    font-size: 0.9rem;
    height: 40px;
    padding: 0 2rem;
  }
}
