@import '../../styles/variables.scss';
@import '../../styles/media-queries.scss';

div.instagramFeedWrap {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  @include for-phone-only {
    padding: 0;
  }
}

div.instagramFeedInner {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

div.spinnerWrap {
  text-align: center;
  padding: 2rem 0;
}

a.instagramImgTag {
  flex: 1;
  background-size: cover;
  background-position: center;
  margin: 0.5rem 0.25rem;
  border-radius: $border-radius;
}

span.instagramImgInner {
  height: 0;
  padding-bottom: 100%;
  display: inline-block;
}
